.DetachedSheet-view {
   /* SELF-LAYOUT */
   z-index: 1;
   /* Adding 60px to make it fully visible below iOS Safari's bottom UI */
   height: calc(var(--silk-100-lvh-dvh-pct) + 60px);
}

.DetachedSheet-content {
   /* SELF-LAYOUT */
   height: calc(auto + env(safe-area-inset-bottom, 0px));
   min-height: 200px;

   /* APPEARANCE */
   background-color: transparent;

   /* INNER-LAYOUT */
   padding: 18px;
}

.DetachedSheet-innerContent {
   /* SELF-LAYOUT */
   height: 100%;
   
   /* CLIPPING */
   overflow: hidden;

   /* APPEARANCE */
   border-radius: var(--radius-8);
   mask-clip: content-box;
   background-color: white;
}